@model Surseed.Models.Property
@using System.Data;

@{
    ViewBag.Title = "donordetails";
    Layout = "~/Views/Shared/_OrganisationLayout.cshtml";
    DataSet ds = (DataSet)ViewBag.noofdonationlist;
    DataTable dt = new DataTable();
    if (ds != null && ds.Tables[1].Rows.Count > 0)
    {
        dt = ds.Tables[1];
    }
}

<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">SurSeed</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Donors</a></li>
                            <li class="breadcrumb-item active">@Model.FullName</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Welcome @Model.UserID !</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center member-box">
                            <div class="member-card">
                                <div class="member-avatar avatar-xl mx-auto d-block">
                                    <img src="/assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                    <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                                </div>

                                <div class="">
                                    <h4 class="mb-1">@Model.FullName</h4>
                                    <p class="text-muted mb-3">
                                        Surseed Number <span> | </span> <span> <a href="#" class="text-pink">@Model.surseedno</a> </span><br />
                                        Member Number <span> | </span> <span> <a href="#" class="text-pink">@Model.memberno</a> </span><br />
                                        Mail ID <span> | </span> <span> <a href="#" class="text-pink">@Model.EmailID</a> </span><br />
                                        <b>Address <span> | </span> <span> @Model.Address </span></b>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card widget-box-three">
                                    <div class="card-body">
                                        <div class="bg-icon float-left avatar-lg text-center bg-light rounded-circle">
                                            <img class="avatar-sm" src="/assets/images/icons/money_transfer.svg" alt="" title="money_transfer.svg">
                                        </div>
                                        <div class="text-right">
                                            <p class="text-uppercase">Total Deposited</p>
                                            <h2 class="mb-0">$ <span data-plugin="counterup">@Model.totaldeposit</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card widget-box-three">
                                    <div class="card-body">
                                        <div class="bg-icon float-left avatar-lg text-center bg-light rounded-circle">
                                            <img class="avatar-sm" src="/assets/images/icons/advertising.svg" alt="" title="clock.svg">
                                        </div>
                                        <div class="text-right">
                                            <p class="text-uppercase">Deposits</p>
                                            <h2 class="mb-0"><span data-plugin="counterup">@Model.noofdeposit</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card widget-box-three">
                                    <div class="card-body">
                                        <div class="bg-icon float-left avatar-lg text-center bg-light rounded-circle">
                                            <img class="avatar-sm" src="/assets/images/icons/paid.svg" alt="" title="clock.svg">
                                        </div>
                                        <div class="text-right">
                                            <p class="text-uppercase">Average Deposits</p>
                                            <h2 class="mb-0">$ <span data-plugin="counterup">@Model.avgdeposit</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card widget-box-three">
                                    <div class="card-body">
                                        <div class="bg-icon float-left avatar-lg text-center bg-light rounded-circle">
                                            <img class="avatar-sm" src="/assets/images/icons/timeline.svg" alt="" title="clock.svg">
                                        </div>
                                        <div class="text-right">
                                            <p class="text-uppercase">Total Reimbursements</p>
                                            <h2 class="mb-0">$ <span data-plugin="counterup">0.00</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow dr in dt.Rows)
                                        {
                                            <tr>
                                                <th scope="row">@dr["donationid"]</th>
                                                <td>@dr["donationdate"]</td>
                                                <td>$@dr["donationamount"]</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- end container-fluid -->
</div>
